<h1>Lists#show</h1>
<%= @list.name %>
<br>
<%= link_to 'Back to All lists', lists_path %>
<h2>Bookmarks :</h2>
<ul>
<% @list.bookmarks.each do |bookmark| %>
<li> Movie: <%= bookmark.movie.title %> <br>
Comment: <%= bookmark.comment %>
<%= link_to "Delete",
        bookmark_path(bookmark),
        data: {turbo_method: :destroy, turbo_confirm: "Are you sure?"}
%>
</li>
<% end %>
</ul>
<%= link_to 'Add a bookmark',  new_list_bookmark_path(@list) %>
