<h1>Lists#show</h1>
<%= @list.name %>
<br>
<%= link_to 'Back to All lists', lists_path %>

<%= link_to "Delete", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<h2>Bookmarks :</h2>
<ul>
<% @list.bookmarks.each do |bookmark| %>
<li> Movie: <%= bookmark.movie.title %> <br>
Comment: <%= bookmark.comment %>
</li>
<% end %>
</ul>
<%= link_to 'Add a bookmark',  new_list_bookmark_path(@list) %>
