<h1>Lists#show</h1>
<%= @list.name %>
<% if @list.thumbnail.present? %>
  <%= cl_image_tag @list.thumbnail.key, height: 120, width: 120, crop: :fill %>
<% else %>
  <img src="https://res.cloudinary.com/pko-sch/image/upload/v1660914946/development/mo91twsrs9j0iq27tcgj0jh8m7vq.jpg" alt="" width="300" height="300">
<% end %>
<br>
<%= link_to 'Back to All lists', lists_path %>

<%= link_to "Delete", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<h2>Bookmarks :</h2>
<ul>
<% @list.bookmarks.each do |bookmark| %>
<li> Movie: <%= bookmark.movie.title %> <br>
Comment: <%= bookmark.comment %>
</li>
<% end %>
</ul>
<%= link_to 'Add a bookmark',  new_list_bookmark_path(@list) %>
